.message
  .message__head-info
    %p.message__head-info__people
      = message.user.name
    %p.message__head-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.message__text
    - if message.content.present?
      %p.message__text__content
        = message.content
    = image_tag message.image.url, class: 'message__text__image' if message.image.present?