.alert-box グループを作成しました
.wrapper
 .chat-side
  .side-header
   .side-header__box
    %p.side-header__box__user-name 
     ex-user
    %ul.side-header__box__menu
     %li.side-header__box__menu__new-group
     =link_to "", class: "side-header__box__menu__new-group__new" do
      = fa_icon "edit", class: "side-header__box__menu__new-group__new-icon"
     %li.side-header__box__menu__edit-user
     =link_to "", class: "side-header__box__menu__edit-user__edit" do
      = fa_icon "cog", class: "side-header__box__menu__edit-user__edit-icon"
 
  .side-body
   =link_to "", class: "groups" do
    .group
     %p.group__name 
      ex-group1
     %p.group__last-message 
      ex-text1,text1,text1
    .group
     %p.group__name 
      ex-group2
     %p.group__last-message 
      ex-text2,text2,text2
 
 .chat-mains
  .main__header
   .main__header__group
    %h2.main__header__group__current--group
     ex-current_group
    %ul.main__header__group__list
     %li.main__header__group__list--title
      Member :
     %li.main__header__group__list--members
      extra1 extra2 extra3
   .main__header__edit--btn
    =link_to "", class: "main__header__edit--btn--text" do
     Edit
  .main__body
   .messages
    .messages__head
     %p.messages__head__name
      ex-nickname
     %p.messages__head__date
      20xx/xx/xx(xx) xx:xx:xx
    %p.messages__text
     ex-chat-message
   .messages
    .messages__head
     %p.messages__head__name
      ex-nickname2
     %p.messages__head__date
      20xx/xx/xx(xx) xx:xx:xx2
    %p.messages__text
     ex-chat-message2
  -#  .main__body__content
  -#   .main__body__chat
  -#     .main__body__chat__main--nickname
  -#     ex-nickname
  -#     .main__body__chat__date
  -#     20xx/xx/xx(xx) xx:xx:xx
  -#   .main__body__chat__message
  -#     ex-chat-message
  -#     .main__body__chat
  -#     .main__body__chat__main--nickname
  -#     ex-nickname2
  -#     .main__body__chat__date
  -#     20xx/xx/xx(xx) xx:xx:xx2
  -#   .main__body__chat__message
  -#     ex-chat-message2