@import "variable";
// .extra-box{
//     background-color: $light_blue;
//     color: white;
//     font-size: 1rem;
//     font-weight: lighter;
//     text-align: center;
//     width: 100vw;
// }
.chat-side{
  width: 300px;
  color: white;
  float: left;
  .side-header{
    background-color: $side_blue_dark;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__menu{
        display: flex;
        &__new-group{
          margin-left: 0.3rem;
          a{
            color: $white;
          }
        }
        &__edit-user{
          margin-left: 0.3rem;
          a{
            color: $white;
          }
        }
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: $side_blue_light;
    padding: 20px 20px 0;
    overflow: scroll;
    text-decoration:none;
      .group{
        margin-bottom: 40px;
        &__name{
          font-size: 15px;
          margin-bottom: 5px;
          color: $white;
        }
        &__message{
          font-size: 11px;
          color: $white;
        }
    }
  }
}
.chat-main{
    width: calc(100vw - 300px);
    float: left;
    .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      &__left-box{
        margin-top: 35px;
        &__current-group{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        &__member-list{
          display: flex;
          font-size: 12px;
          color: $light_gray;
          &__member{
            margin-left: 0.3rem;
          }
        }
      }
        .main-header__edit-btn{
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 30px;
          border: solid 1px $light_blue;
          position: absolute;
          right: 40px;
          color:#38aef0;
        }
    }
    .messages{
      height: calc(100vh - 263px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      .message{
        padding-bottom: 40px;
        &__head-info{
          display: flex;
          margin-bottom: 10px;
          &__people{
            color: $black;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: $light_gray;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__text{
          color: $black;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .form{
      height: 50px;
      padding: 20px 40px;
      background-color: #ddd;
      .new_message{
        display: flex;
          .form__message{
            width:100%;
            padding-left: 10px;
          }
          .form__mask{
            &__image{
              .hidden{
                display:none;
              }
              .icon{
                position:relative;
                font-size: 1.3rem;
                top: 15px;
                right: 35px;
              }
            }
          }
          .form__submit{
            border-radius: 0%;
            width: 110px;
            height: 50px;
            color: $white;
            background-color: $light_blue;
          }
        // .input-box{
        //   position: relative;
        //   width: 100%;
        //   &__text{
        //     height: 50px;
        //     width: 100%;
        //     padding: 0 -10px 0 10px;
        //     color: $black;
        //     border-style: none;
        //   }
        //   &__image{
        //     font-size: 1.3rem;
        //     position: absolute;
        //     top: 10px;
        //     right: 10px;
        //     cursor: pointer;
        //     &__window{
        //       display: none;
        //     }
        //   }
        // }
        // .submit-btn{
        //   width: 100px;
        //   height: 50px;
        //   padding: 0 30px;
        //   margin-left: 15px;
        //   background-color: $light_blue;
        //   color: white;
        //   cursor: pointer;
        // }
      }
    }
}
